/*
.top-nav
.top-nav.shop-button
.top-nav.top-nav-active

.button


*/

.lp-pom-body,
h3, h3 span,
h2, h2 em, h2 em span, h2 span,
body .lp-pom-button .label, body .lp-pom-button .label em, .lp-pom-button .label, .lp-pom-button .label em strong,
.lp-pom-button .label strong,
p, p span{
    letter-spacing: normal !important;
    font-family: Soin Sans Neue !important;
    font-stretch:100%;
    font-style:normal  !important;
    font-variant-caps:normal  !important;
    font-variant-east-asian:normal  !important;
    font-variant-ligatures:normal  !important;
    font-variant-numeric:normal  !important;
    font-weight:400;
    letter-spacing:normal !important;
}
body .lp-pom-button .label,
body .lp-pom-button .label em,
.lp-pom-button .label,
.lp-pom-button .label em strong{
    height: 50px;
}
h3, h3 span, h2 em, h2 em span, body .lp-pom-button .label,
body .lp-pom-button .label em, .lp-pom-button .label, .lp-pom-button .label em strong, h2 span, h2{
    font-size:15px;
}
h3, h3 span{
    font-size: 21px !important;
}

a.top-nav{
    background-color: rgba(41,41,41,1) !important;
    font-size: 14px !important;
    font-family: Soin Sans Neue !important;
}
a.top-nav.top-nav-active{
    background-color: rgba(24,24,24,1) !important;
}

a.top-nav.shop-button{
    background-color: #005aff !important;
}
a.top-nav.shop-button.top-nav-active{
    background-color: rgba(24,24,24,1) !important;
}
body.lp-pom-body #lp-pom-root{
    background-color: purple !important;
}

.lp-pom-box.button, .lp-pom-button.button{
    border-radius: 0 !important;
    background-color: #005aff !important;
    height: 50px !important;
    margin-bottom: calc(30px / 2) !important;
    border: none !important;
    min-width: 170px !important;
}
.lp-pom-box.button a, .lp-pom-button.button a{
    display: block;
    min-height: 50px;
    line-height: 50px !important;
    min-width: 170px;
    text-decoration: none !important;
}

.has-blue-background {
    background: #888 !important;
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-bold-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-bold-webfont.woff) format("woff");
    font-weight: var(font-weight-bold);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-light-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-light-webfont.woff) format("woff");
    font-weight: var(font-weight-light);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-medium-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-medium-webfont.woff) format("woff");
    font-weight: var(font-weight-medium);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-roman-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-roman-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
