/*
.top-nav
.top-nav.shop-button
.top-nav.top-nav-active

.button


*/
.lp-pom-button .label{
    letter-spacing: normal !important;
}

h2 em, h2 em span, body .lp-pom-button .label, body .lp-pom-button .label em{
    letter-spacing: normal !important;
    font-family: Soin Sans Neue !important;
    font-size:15px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
    height:50px;
    letter-spacing:normal !important;
}
a.top-nav{
    background-color: rgba(41,41,41,1) !important;
    font-size: 14px !important;
}
a.top-nav.top-nav-active{
    background-color: rgba(24,24,24,1) !important;
}

a.top-nav.shop-button{
    background-color: #005aff !important;
}

body.lp-pom-body #lp-pom-root{
    background-color: red !important;
}

.lp-pom-button.button{
    border-radius: 0 !important;
    background-color: #005aff !important;
    height: 50px !important;
    margin-bottom: calc(30px / 2) !important;
    border: none !important;
    min-width: 170px !important;
}



@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-bold-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-bold-webfont.woff) format("woff");
    font-weight: var(font-weight-bold);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-light-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-light-webfont.woff) format("woff");
    font-weight: var(font-weight-light);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-medium-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-medium-webfont.woff) format("woff");
    font-weight: var(font-weight-medium);
    font-style: normal
}

@font-face {
    font-family: Soin Sans Neue;
    src: url(/fonts/soinsansneue-roman-webfont.woff2) format("woff2"),url(/fonts/soinsansneue-roman-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
